@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,500&family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
header nav  {
    float: right;
    width: 220px;    
    margin-left: 20px;
}
header nav ul  {
    list-style: none;
    display: flex;
    padding: 0;

    gap: 15px;
}
header nav ul li {
    display: inline-block;
    }
header nav ul li a {
    color: #fff;
    font-size: 10px;
}
header .logo {
    color: #fff;
    float: left;
    margin-left: 25px;
}


@media (min-width: 769px) {
    .container {
    max-width: 1400px;
    width: 100%;
    padding: 30px 0;
    }   
    .header nav {
        width: 35%;
    }
.header nav ul {
    gap:50px;
}
header .logo {
    margin-left: 50px
}
}


.main {
    flex: 1;
    background: #e4dada;
    display: flex;
    align-items: center;
    height: 200px;
}
main .text {
    width: 60%;
    margin-left: 25px;
    margin-top: -25px;    
    padding-block: 50px;
}
main .text h1 {
    font-size: 20px;
}
main .text p {
    margin-top: 20px;
    font-size:10px;
}
main .btn {
    background: black;
    font-size: 10px;
    border: none;
    color: #fff;
    padding: 10px 25px;
    margin-top: 10px;
    border-radius: 5px;
    transition: all 500ms ease;
}
main .btn:hover {
    cursor: pointer;
    background: rgb(80, 0, 0);
}
main .img img {
    width: 40%;
    height: 100%;
    overflow: hidden;
}

@media (min-width: 769px) {
    .main {
    height: 500px;
}
    main .text {
    width: 60%;
    margin-left: 50px;
    margin-top: -50px;
}
    main .text h1 {
    font-size: 50px;
}
    main .text p {
    font-size:30px;
}
    main .btn {
    font-size: 20px;
    padding: 20px 50px;
    margin-top: 20px;
    border-radius: 5px;
}
}



.service h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 20px;
}
.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: -20px;
}
.icon h3, .icon p {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 50x;
    font-size: 20px;
    padding: 10px 35px;
    
}
.s1 i {
    padding: 5px;
    background: #a3a2a2;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 80px;
}
.s2 i {
    background: #a3a2a2;
    padding: 5px;
    border-radius: 5px;
    margin-left: 55px;
    margin-bottom: 5px;
}
.s3 i {
    background: #a3a2a2;
    padding: 5px;
    border-radius: 5px;
    margin-left: 65px;
    margin-bottom: 5px;
}


@media (min-width: 769px) {
    .service h2 {
    font-size: 50px;
    }
    .icon {
        margin: 50px 100px;
    }
    .icon h3, .icon p {
        padding: 50px;
    }
    .s1 i {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 160px;
}
    .s2 i {
    padding: 10px;
    border-radius: 5px;
    margin-left: 110px;
    margin-bottom: 10px;
}
.s3 i {
    padding: 10px;
    border-radius: 5px;
    margin-left: 130px;
    margin-bottom: 10px;
}
}
    
    footer {
    background: black;
    height: 150px;
}
.nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 100px;
    padding: 20px 40px;
    color: #fff;
}
.location, .location a {
    list-style: none;
    color: #fff;
}

/* that all :) */
